<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f5f3] px-10 py-3">
          <div class="flex items-center gap-8">
            <div class="flex items-center gap-4 text-[#111816]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M36.7273 44C33.9891 44 31.6043 39.8386 30.3636 33.69C29.123 39.8386 26.7382 44 24 44C21.2618 44 18.877 39.8386 17.6364 33.69C16.3957 39.8386 14.0109 44 11.2727 44C7.25611 44 4 35.0457 4 24C4 12.9543 7.25611 4 11.2727 4C14.0109 4 16.3957 8.16144 17.6364 14.31C18.877 8.16144 21.2618 4 24 4C26.7382 4 29.123 8.16144 30.3636 14.31C31.6043 8.16144 33.9891 4 36.7273 4C40.7439 4 44 12.9543 44 24C44 35.0457 40.7439 44 36.7273 44Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <h2 class="text-[#111816] text-lg font-bold leading-tight tracking-[-0.015em]">StyleSavvy</h2>
            </div>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <label class="flex flex-col min-w-40 !h-10 max-w-64">
              <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                <div
                  class="text-[#608a7c] flex border-none bg-[#f0f5f3] items-center justify-center pl-4 rounded-l-lg border-r-0"
                  data-icon="MagnifyingGlass"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
                <form action="/search" method="GET" style="display: flex;">
                  <input class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111816] focus:outline-0 focus:ring-0 border-none bg-[#f0f5f3] focus:border-none h-full placeholder:text-[#608a7c] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                           type="search" name="query" placeholder="Search" aria-label="Search">
                </form>
              </div>
            </label>
            <div class="flex gap-2">
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#f0f5f3] text-[#111816] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#111816]" data-icon="Heart" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"
                    ></path>
                  </svg>
                </div>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#f0f5f3] text-[#111816] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#111816]" data-icon="ShoppingBag" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,160H40V56H216V200ZM176,88a48,48,0,0,1-96,0,8,8,0,0,1,16,0,32,32,0,0,0,64,0,8,8,0,0,1,16,0Z"
                    ></path>
                  </svg>
                </div>
              </button>
            </div>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBd7TSRDa5I9emTlAFUjCZEnR6zdMruOXcpO4AG_v_VAgQKM1vAjESEyiCWarj_vg8-sK7ZJFeFv44mU_Sk2hpGvH3Owo5Jbf9YBlo1wJKIF4yUYnfCEKJmkOKM8g06GW4_KJa6S2VWkorDOrCU1gOsq2F6WZGUQyhzoCd9j4pHZA6ZFEJ2SUXCj2oMLXPnLugdHsAbL7bMk6U8hJ9qqyG_iOUcokHrVQyW_YsfwyrVNbtrxDYnDV0GsgtZ4oDtghwS8r75Ktls3UI");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="px-4 py-3">
              <label class="flex flex-col min-w-40 h-12 w-full">
                <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                  <div
                    class="text-[#608a7c] flex border-none bg-[#f0f5f3] items-center justify-center pl-4 rounded-l-lg border-r-0"
                    data-icon="MagnifyingGlass"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="container">
                    <form action="{{ url_for('search') }}" method="GET" class="relative w-full">
                      <input
                        placeholder="Search for products or brands"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111816] focus:outline-0 focus:ring-0 border-none bg-[#f0f5f3] focus:border-none h-full placeholder:text-[#608a7c] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                        name="query"
                        type="text"
                      />
                    </form>
                  </div>
                </div>
              </label>
            </div>
            <div class="flex gap-3 p-3 flex-wrap pr-4">
              {% set sort = request.args.get('sort', '') %}
              {% set query = request.args.get('q', '') %}
              <a href="/search?query={{ request.args.get('query', '') }}&sort=price_low">
                <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg pl-4 pr-4 {{ 'bg-[#cce6dc]' if sort == 'price_low' else 'bg-[#f0f5f3]' }}">
                  <p class="text-[#111816] text-sm font-medium leading-normal">Lowest Price</p>
                </div>
              </a>

              <a href="/search?query={{ request.args.get('query', '') }}&sort=quality_best">
                <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg pl-4 pr-4 {{ 'bg-[#cce6dc]' if sort == 'quality_best' else 'bg-[#f0f5f3]' }}">
                  <p class="text-[#111816] text-sm font-medium leading-normal">Best Quality</p>
                </div>
              </a>

              <a href="/search?query={{ request.args.get('query', '') }}&sort=delivery_fast">
                <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg pl-4 pr-4 {{ 'bg-[#cce6dc]' if sort == 'delivery_fast' else 'bg-[#f0f5f3]' }}">
                  <p class="text-[#111816] text-sm font-medium leading-normal">Delivery</p>
                </div>
              </a>

              <a href="/search?query={{ request.args.get('query', '') }}&sort=reviews_top">
                <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg pl-4 pr-4 {{ 'bg-[#cce6dc]' if sort == 'reviews_top' else 'bg-[#f0f5f3]' }}">
                  <p class="text-[#111816] text-sm font-medium leading-normal">Customer Reviews</p>
                </div>
              </a>
            </div>
            <h2 class="text-[#111816] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Comparison Results</h2>
            {% if products %}
            {% for product in products %}
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-2 flex-1">
                    <!-- Title with link -->
                    <a href="{{ product.link }}" target="_blank" class="text-[#111816] text-base font-bold leading-tight hover:underline">
                      {{ product.title }}
                    </a>
                    <p class="text-[#608a7c] text-sm font-normal leading-normal">{{ product.platform|title }}</p>
                  </div>
                  <div class="flex items-center gap-2 mt-1">
                    <span class="bg-[#f0f5f3] text-[#111816] rounded-lg px-3 py-1 text-sm font-medium">
                      {{ product.price }}
                    </span>
                  </div>
                  <div class="flex items-center gap-1 mt-1 text-sm text-[#111816]" data-icon="Star" data-size="18px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M239.2,97.29a16,16,0,0,0-13.81-11L166,81.17,142.72,25.81h0a15.95,15.95,0,0,0-29.44,0L90.07,81.17,30.61,86.32a16,16,0,0,0-9.11,28.06L66.61,153.8,53.09,212.34a16,16,0,0,0,23.84,17.34l51-31,51.11,31a16,16,0,0,0,23.84-17.34l-13.51-58.6,45.1-39.36A16,16,0,0,0,239.2,97.29Zm-15.22,5-45.1,39.36a16,16,0,0,0-5.08,15.71L187.35,216v0l-51.07-31a15.9,15.9,0,0,0-16.54,0l-51,31h0L82.2,157.4a16,16,0,0,0-5.08-15.71L32,102.35a.37.37,0,0,1,0-.09l59.44-5.14a16,16,0,0,0,13.35-9.75L128,32.08l23.2,55.29a16,16,0,0,0,13.35,9.75L224,102.26S224,102.32,224,102.33Z"
                      ></path>
                    </svg>
                    <span class="truncate">{{ product.rating }}</span>
                  </div>
                </div>
<!--                  <div-->
<!--                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 flex-row-reverse bg-[#f0f5f3] text-[#111816] pr-2 gap-1 text-sm font-medium leading-normal w-fit"-->
<!--                  >-->
<!--                  <div class="text-[#111816]" data-icon="Star" data-size="18px" data-weight="regular">-->
<!--                      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">-->
<!--                        <path-->
<!--                          d="M239.2,97.29a16,16,0,0,0-13.81-11L166,81.17,142.72,25.81h0a15.95,15.95,0,0,0-29.44,0L90.07,81.17,30.61,86.32a16,16,0,0,0-9.11,28.06L66.61,153.8,53.09,212.34a16,16,0,0,0,23.84,17.34l51-31,51.11,31a16,16,0,0,0,23.84-17.34l-13.51-58.6,45.1-39.36A16,16,0,0,0,239.2,97.29Zm-15.22,5-45.1,39.36a16,16,0,0,0-5.08,15.71L187.35,216v0l-51.07-31a15.9,15.9,0,0,0-16.54,0l-51,31h0L82.2,157.4a16,16,0,0,0-5.08-15.71L32,102.35a.37.37,0,0,1,0-.09l59.44-5.14a16,16,0,0,0,13.35-9.75L128,32.08l23.2,55.29a16,16,0,0,0,13.35,9.75L224,102.26S224,102.32,224,102.33Z"-->
<!--                        ></path>-->
<!--                      </svg>-->
<!--                    <span class="truncate">{{ product.rating }}</span>-->
<!--                  </div>-->
<!--                </div>-->
                <div
                  class="w-[120px] h-[120px] bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                  style='background-image: url("{{ product.image }}");'
                ></div>
              </div>
            </div>
              {% endfor %}
              {% else %}
              <p>No products found.</p>
              {% endif %}
<!--            <div class="p-4">-->
<!--              <div class="flex items-stretch justify-between gap-4 rounded-lg bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">-->
<!--                <div class="flex flex-[2_2_0px] flex-col gap-4">-->
<!--                  <div class="flex flex-col gap-1">-->
<!--                    <p class="text-[#111816] text-base font-bold leading-tight">Elegant Black Dress</p>-->
<!--                    <p class="text-[#608a7c] text-sm font-normal leading-normal">Fashion Hub</p>-->
<!--                  </div>-->
<!--                  <button-->
<!--                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 flex-row-reverse bg-[#f0f5f3] text-[#111816] pr-2 gap-1 text-sm font-medium leading-normal w-fit"-->
<!--                  >-->
<!--                    <div class="text-[#111816]" data-icon="Star" data-size="18px" data-weight="regular">-->
<!--                      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">-->
<!--                        <path-->
<!--                          d="M239.2,97.29a16,16,0,0,0-13.81-11L166,81.17,142.72,25.81h0a15.95,15.95,0,0,0-29.44,0L90.07,81.17,30.61,86.32a16,16,0,0,0-9.11,28.06L66.61,153.8,53.09,212.34a16,16,0,0,0,23.84,17.34l51-31,51.11,31a16,16,0,0,0,23.84-17.34l-13.51-58.6,45.1-39.36A16,16,0,0,0,239.2,97.29Zm-15.22,5-45.1,39.36a16,16,0,0,0-5.08,15.71L187.35,216v0l-51.07-31a15.9,15.9,0,0,0-16.54,0l-51,31h0L82.2,157.4a16,16,0,0,0-5.08-15.71L32,102.35a.37.37,0,0,1,0-.09l59.44-5.14a16,16,0,0,0,13.35-9.75L128,32.08l23.2,55.29a16,16,0,0,0,13.35,9.75L224,102.26S224,102.32,224,102.33Z"-->
<!--                        ></path>-->
<!--                      </svg>-->
<!--                    </div>-->
<!--                    <span class="truncate">$89.99</span>-->
<!--                  </button>-->
<!--                </div>-->
<!--                <div-->
<!--                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"-->
<!--                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD2okaZMkZiPmmzqUrKVkXA5DF5aRvCR7kba3pJkHNzep6-kNshhBjOxIEQdwl-xKPTwpOaKmMgql1Z4dzm9FucLWMJGZ_yCYcpQds2G6vRrMur7l14-RFt4xHEYRdYnKJUVrh3gTDAwyvbsHaVCLCwJpcVtu_ttCg_fix4ag2X0nuxjOT-T27ajP1R5hGm_FQWbG6CFspHIjg9ZVpHAmjlInE3A-1nDbTC4OwwOji4drFvf2J-V8OO4IfvHiDKR21ZGXZPIy0n6fo");'-->
<!--                ></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="p-4">-->
<!--              <div class="flex items-stretch justify-between gap-4 rounded-lg bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">-->
<!--                <div class="flex flex-[2_2_0px] flex-col gap-4">-->
<!--                  <div class="flex flex-col gap-1">-->
<!--                    <p class="text-[#111816] text-base font-bold leading-tight">Elegant Black Dress</p>-->
<!--                    <p class="text-[#608a7c] text-sm font-normal leading-normal">Style Emporium</p>-->
<!--                  </div>-->
<!--                  <button-->
<!--                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 flex-row-reverse bg-[#f0f5f3] text-[#111816] pr-2 gap-1 text-sm font-medium leading-normal w-fit"-->
<!--                  >-->
<!--                    <div class="text-[#111816]" data-icon="Star" data-size="18px" data-weight="regular">-->
<!--                      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">-->
<!--                        <path-->
<!--                          d="M239.2,97.29a16,16,0,0,0-13.81-11L166,81.17,142.72,25.81h0a15.95,15.95,0,0,0-29.44,0L90.07,81.17,30.61,86.32a16,16,0,0,0-9.11,28.06L66.61,153.8,53.09,212.34a16,16,0,0,0,23.84,17.34l51-31,51.11,31a16,16,0,0,0,23.84-17.34l-13.51-58.6,45.1-39.36A16,16,0,0,0,239.2,97.29Zm-15.22,5-45.1,39.36a16,16,0,0,0-5.08,15.71L187.35,216v0l-51.07-31a15.9,15.9,0,0,0-16.54,0l-51,31h0L82.2,157.4a16,16,0,0,0-5.08-15.71L32,102.35a.37.37,0,0,1,0-.09l59.44-5.14a16,16,0,0,0,13.35-9.75L128,32.08l23.2,55.29a16,16,0,0,0,13.35,9.75L224,102.26S224,102.32,224,102.33Z"-->
<!--                        ></path>-->
<!--                      </svg>-->
<!--                    </div>-->
<!--                    <span class="truncate">$99.99</span>-->
<!--                  </button>-->
<!--                </div>-->
<!--                <div-->
<!--                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"-->
<!--                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC2Fhw_yXcz52wO_iXh4PT0JMzBGLcHVU_47M4glwDVI9TZu8dqrvKg3XiOyqamvNtXWRMIieeO4hqTNlquY1QikwdlR_U-eXlCUlG4NhDSC6ZAlLF6RKJ23AmuEbq_gNSvqF2j0m8eJlr6HSim1C2k6JP_USdClDU1BYQsnm01W2RUPMfmsfHfiKx1Wk9qsvUoCdEWFCpU54m9gqYNhhgz4y-R5bMknQrFGSLbqzfsTZP4hTZwvprl5NItd9HaQXatnG-YoYL58yk");'-->
<!--                ></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="p-4">-->
<!--              <div class="flex items-stretch justify-between gap-4 rounded-lg bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">-->
<!--                <div class="flex flex-[2_2_0px] flex-col gap-4">-->
<!--                  <div class="flex flex-col gap-1">-->
<!--                    <p class="text-[#111816] text-base font-bold leading-tight">Elegant Black Dress</p>-->
<!--                    <p class="text-[#608a7c] text-sm font-normal leading-normal">Trendsetters Closet</p>-->
<!--                  </div>-->
<!--                  <button-->
<!--                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 flex-row-reverse bg-[#f0f5f3] text-[#111816] pr-2 gap-1 text-sm font-medium leading-normal w-fit"-->
<!--                  >-->
<!--                    <div class="text-[#111816]" data-icon="Star" data-size="18px" data-weight="regular">-->
<!--                      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">-->
<!--                        <path-->
<!--                          d="M239.2,97.29a16,16,0,0,0-13.81-11L166,81.17,142.72,25.81h0a15.95,15.95,0,0,0-29.44,0L90.07,81.17,30.61,86.32a16,16,0,0,0-9.11,28.06L66.61,153.8,53.09,212.34a16,16,0,0,0,23.84,17.34l51-31,51.11,31a16,16,0,0,0,23.84-17.34l-13.51-58.6,45.1-39.36A16,16,0,0,0,239.2,97.29Zm-15.22,5-45.1,39.36a16,16,0,0,0-5.08,15.71L187.35,216v0l-51.07-31a15.9,15.9,0,0,0-16.54,0l-51,31h0L82.2,157.4a16,16,0,0,0-5.08-15.71L32,102.35a.37.37,0,0,1,0-.09l59.44-5.14a16,16,0,0,0,13.35-9.75L128,32.08l23.2,55.29a16,16,0,0,0,13.35,9.75L224,102.26S224,102.32,224,102.33Z"-->
<!--                        ></path>-->
<!--                      </svg>-->
<!--                    </div>-->
<!--                    <span class="truncate">$109.99</span>-->
<!--                  </button>-->
<!--                </div>-->
<!--                <div-->
<!--                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"-->
<!--                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDSW2AMZzJgoNrmwx8nMbslTlu3pvVi9Bi3GxSDpdPOc7TVo_luQEYrq8HjxjHplb4V2F7UtAklVVLbWJLnJtdk_b8aMsIdJYqCw0CkCI7WEg5B6ZTf8lYrzPW5iZJhL4w9iL58DLIm-LuQ62ZwPmnGu6jmaGW57r6jz2niXK1rXlyiVhI2fQL2MD5Hb3KbrTk-F-LEWDY9MOzmfIn-R9-0e3RlWIc6TqKKA-ukKh2YsisrEHwIiofXggbSQL-eJVIksTu33-SttEo");'-->
<!--                ></div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
